{% extends "base.html" %}
{% set scripts = [] %}
{% block content %}
<div class="pure-u-1">
	<article id="thread">
			<header>
				<h2 id="thread-title">{{ thread.title }}</h1>
				<h4>Posted by <a href="/user/{{ slug(thread.username) }}">{{ thread.username }}</a> {{ thread.ago }} on {{ thread.created_at }}</h4>
			</header>
			<img src="{{ thread.file }}" width="{{ thread.width }}" height="{{ thread.height }}">
			<div class="content">{{ thread.content }}</div>
	</article>
{% for post in posts %}
	<article class="post">
			<header>
				<h4><span class="posted-by"><a href="/user/{{ slug(post.username) }}">{{ post.username }}</a></span> wrote {{ post.ago }}</h4>
			</header>
{% if post.file %}
			<img src="{{ post.file }}" width="{{ post.width }}" height="{{ post.height }}">
{% endif %}
			<div class="content">{{ post.content }}</div>
	</article>
{% endfor %}
{% if user %}
<form method="post" action="/thread/reply" enctype="multipart/form-data" class="pure-form pure-form-stacked">
	<fieldset>
		<legend>New post</legend>

		<label for="image">Image</label>
		<input id="image" name="image" type="file" placeholder="Image">

		<label for="post-content">Content</label>
		<textarea id="post-content" type="text" placeholder="Content" rows="5" cols="30"></textarea>
		
		{% if getUser() %}
			<div class="become-anon">
				<label for="anon">Anon</label>
				<input name="anon" type="checkbox">
			</div>
		{% endif %}

		<button type="submit" class="pure-button pure-button-primary">Post</button>
	</fieldset>
</form>
{% endif %}
</div>
{% endblock %}