{% extends "base.html" %}
{% set scripts = [] %}
{% block content %}
<div class="pure-u-1">
	<article id="thread">
			<header>
				<h2 id="thread-title">{{ thread.title }}</h1>
				<h4>Posted by {{ thread.username }} on {{ thread.created_at }}</h4>
			</header>
			{% if isExternal(post.file) %}
				<img src="{{ post.file }}" width="{{ post.width }}" height="{{ post.height }}">
			{% else %}
				<img src="/images/{{ post.file }}" width="{{ post.width }}" height="{{ post.height }}">
			{% endif %}
	</article>
{% for post in posts %}
	{% set ago = ago(post.created_at) %}
	<article class="post">
			<header>
				{% if post.anon %}
				<h4><span class="posted-by">Anonymous</span> wrote {{ ago }}</h4>
				{% else %}
				<h4><span class="posted-by">{{ post.username }}</span> wrote {{ ago }}</h4>
				{% endif %}
			</header>
{% if post.file %}
			{% if isExternal(post.file) %}
				<img src="{{ post.file }}" width="{{ post.width }}" height="{{ post.height }}">
			{% else %}
				<img src="/images/{{ post.file }}" width="{{ post.width }}" height="{{ post.height }}">
			 {% endif %}
{% endif %}
			<div class="content">{{ post.content }}</div>
	</article>
{% endfor %}
{% if user %}
<form id="thread-form" method="post" action="/thread/{{ thread.slug }}/reply" enctype="multipart/form-data" class="pure-form">
	<fieldset>
		<input name="token" type="hidden" value="{{ getToken() }}">

		<textarea id="post-content" name="post-content" type="text" rows="1" maxlength="2000" style="width: 286px;" placeholder="Content"></textarea>
		
		<div class="upload-container">
			<button class="pure-button fake-button">Upload</button>
			<input id="upload" name="image" type="file" accept="image/*">
		</div>

		{% if user %}
			<span class="become-anon">
				<label for="anon">Anon</label>
				<input name="anon" type="checkbox" class="pure-checkbox">
			</span>
		{% endif %}

		<button type="submit" class="pure-button pure-button-primary">Post</button>
	</fieldset>
</form>
{% endif %}
</div>
{% endblock %}