body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: 'Lato', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
}
input, .pure-button {
    font-family: inherit;
}
#top .pure-menu {
	background: #222;
	color: #999;
}
.pure-menu .pure-menu-heading {
	color: inherit;
}
.pure-menu li a {
	color: #777;
}
.pure-menu li a:hover {
	background: none;
	color: #fff;
}
.pure-menu li.pure-menu-selected a {
	background: #080808;
	color: #ffffff;
}
#threads {
	max-width: 100%;
	min-width: 768px;
	margin: 0px auto;
	padding: 0;
}
.thread {
	position: relative;
	margin: 3px;
	width: 200px;
}
.thread header {
	position: absolute;
	width: 95%;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	background-color: rgba(0,0,0,0.425);
	padding: 5px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.thread a {
	outline: none;
	border: none;
	color: #FFF;
}
.thread a img {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.post-image {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
footer {
	margin-top: 50px;
}